.main {
    margin-top: 47px;
    margin-bottom: 39px;
}

.content {
    margin: 0 0 336px 70px;
    position: relative;
}

.loader {
    position: absolute;
    top: 20px;
    left: 14px;
}

.button {
    position: absolute;
    top: 42px;
}